html{
	cursor: url(../imagens/mata_mosca.png) 30 30, auto;
}
body{
	background-image: url(../imagens/bg.jpg);
	background-repeat: no-repeat top;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}
/* Estilo do mosquito */
.mosquito1 {
	width: 50px;
	height: 50px;
}
.mosquito2 {
	width: 70px;
	height: 70px;
}
.mosquito3{
	width: 90px;
	height: 90px;
}

.ladoA {
	transform: scaleX(1);
}

.ladoB {
	transform: scaleX(-1);
}

/* Estilo do HUD */
.hudButton{
	position: absolute;
	width: 60px;
	padding: 10px;
	top: 0px;
	left: 0px;

}
.hud{
	position: absolute;
	width: 190px;
	padding: 10px;
	bottom: 0px;
	left: 0px;
	border-top: solid 1px #fff;
	background-color: #fff;
	opacity: 0.7;

}
.hudPoints{
	position: absolute;
	width: 100px;
	padding: 10px;
	top: 0px;
	right: 0px;
	border-top: solid 1px #fff;
	background-color: #fff;
	opacity: 0.7;
	font-weight: bold;
	font-size: 1rem;
}
.hearts{
	display: flex;
	justify-content: left;
}
.returnButton{
	background-color: #212529;
	border-color: #212529;
	color: white;
	height: 40px;
	width: 50px;
	box-sizing: border-box;
	font-size: 0.95em;
}
.returnButton:hover{
	background-color: #424649;
	cursor: pointer;
}
.returnButton:active{
	background-color: #4d5154;
}
.arrow{
	border: solid rgb(255, 255, 255);
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}
.left{
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}
.time{
	display: flex;
	justify-content: left;
	font-size: 20px;
	font-weight: bold;
}
select {
	-webkit-appearance: listbox !important;
	/*webkit browsers */
	-moz-appearance: listbox !important;
	/*Firefox */
	appearance: listbox !important;
	/* modern browsers */
	border-radius: 0;
  
  }
.btn-dark, .btn-danger{
	width: 200px;
}
